body {
  background-color: black;
}
h1{
    color: yellow;
    justify-content: center;
}
.lightsabers {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 20px;
  min-height: 300px;
}

.lightsaber-handle-green{
  height: 30px;
  width: 20px;
  background-color: gray;
  border: solid 2px green;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.lightsaber-green {
  background-color: green;
  height: 0;
  width: 19px;
  filter: blur(2px);
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: 0;
  visibility: visible;
  justify-content: center;
  transition: height 1s ease-in-out;

}

.lightsaber-handle-red {
  height: 30px;
  width: 20px;
  background-color: gray;
  border: solid 2px red;
  cursor: pointer;
  position: absolute;
  bottom: 0;

}

.lightsaber-red{
 background-color: red;
  height: 0;
  width: 19px;
  filter: blur(2px);
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: 0;
  visibility: visible;
  justify-content: center;
  transition: height 1s ease-in-out;
}

.lightsaber-handle-blue {
  height: 30px;
  width: 20px;
  background-color: gray;
  border: solid 2px blue;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.lightsaber-blue {
  background-color: blue;
  height: 0;
  width: 19px;
  filter: blur(2px);
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: 0;
  visibility: visible;
  justify-content: center;
  transition: height 1s ease-in-out;
}

.lightsaber-handle-yellow {
  height: 30px;
  width: 20px;
  background-color: gray;
  border: solid 2px yellow;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.lightsaber-yellow {
 background-color: yellow;
  height: 0;
  width: 19px;
  filter: blur(2px);
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: 0;
  visibility: visible;
  justify-content: center;
  transition: height 1s ease-in-out;
}
