#level-1, #level-2, #level-3, .name-form-ls, .name-form-ds{
    display: none;
}
/*------------------------------------------------------Themes. Yellow and gray were chosen for buttons and text as they are Star Wars colours. Same for red and blue representing the 'light' and 'dark' sides. I tried different fonts but ended up sticking with the defualt as I prefered the look.*/
body{
    background-color: lightgrey;
    width: 100%;
    margin: auto 0;
    min-width: 350px;
}
#background-image{
    text-align: center;
}
#lukesw-img, #vader-img{
    position: fixed;
    height: 100%;
    width: 50%;
    opacity: 0.5;
    z-index: -1;
    display: none;    
    }
    #lukesw-img{
       text-align: left;
}
ls-theme{
 background-color: rgb(8, 103, 245);
}
ds-theme{
    background-color: rgb(212, 0, 0);
}
#ls-btn{
    float: left;
    color: yellow;
    background-color: rgb(8, 103, 245);
    border: none;
    padding: 10px;
}
#ds-btn{
    float: right;
    color: yellow;
    background-color: rgb(212, 0, 0);
    border: none;
    padding: 10px;
}
/*------------------------------------------------------Titles*/
.welcome{
     color: yellow;
    text-align: center;
}
.main-title{
    color: yellow;
    text-align: center;
    display: none;
    margin-top: 20px;
    border: solid 5px yellow;
    padding: 5px;
}
.question-title{
    color: yellow;
    text-align: center;
}
.lsabers{
    text-align: center;
}
.lightsabers-container{
  margin-bottom: 20px;
  min-height: 300px;
  background-color: rgb(0, 0, 0, 0.8);
  position: relative;
}
/*------------------------------------------------------User name input. Submit disabled as it brings the user back to the 'start' of the page and there is no need to post any information*/
.form{
    text-align: center;
    display: none;
}
.form-text{
    color: yellow;
}
.text-box{
    border: none;
    text-align: center;
    background-color: gray;
    margin-bottom: 5px;
    text-decoration: none;
}
.text-box:focus{
    outline: none;
}
::placeholder{
    color: yellow;
}
#name{
    color: yellow;
}
/*------------------------------------------------------Lightsabers colour and transition*/
.lightsabers{
  height: 0;
  width:20px;
  filter: blur(2px);
  border-radius: 10px 10px 0 0;
  transition: height 1s ease-in-out;
  position: absolute;
  bottom: 0;
  display:block;
  margin-left: 40.5%;
  opacity: 1;
}
.lightsaber-handles{
  height: 30px;
  width: 20px;
  background-color: gray;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  display: block;
  pointer-events: none;
  margin-left: 40.5%;
  opacity: 1;
}
.lightsaber-green {
  background-color: green;
}
.lightsaber-handle-green{
  border: solid 2px green;
}
.lightsaber-handle-red {
  border: solid 2px red;
}
.lightsaber-red{
 background-color: red;
}
.lightsaber-handle-blue {
  border: solid 2px blue;
}
.lightsaber-blue {
  background-color: blue;
}
.lightsaber-handle-yellow {
  border: solid 2px yellow;
}
.lightsaber-yellow {
 background-color: yellow;
}
.lightsaber-handle-purple{
  border: solid 2px purple;
}
.lightsaber-purple{
  background-color: purple;
}
.lightsaber-handle-orange{
  border: solid 2px orange;
}
.lightsaber-orange{
  background-color: orange;
}
/*-------------------------------------------------- Buttons, allow user access to the differernt parts of the page*/
button{
    color: yellow;
    background-color: darkgray;
    border: solid 3px yellow;
    margin-bottom: 5px;
}
.begin{
    text-align: center;
}
.submit1, .submit2, .submit3{
    visibility: hidden;
}
#lvl-btns{
    text-align: center;
}
.level-btns{
    display: none;
   color: yellow;
   }
   .level-2-btn, .level-3-btn{
       pointer-events: none;
   }
button:focus{outline: none;
    }
.active{
    border: solid yellow 5px;
    color: yellow;
    background-color: gray;
}
.lsreturn{
    display: none;
    color: rgb(8, 103, 245);
    border: solid rgb(8, 103, 245) 5px;
      margin-top: 15px;
}
.dsreturn{
    display: none;
    color: rgb(212, 0, 0);
    border: solid rgb(212, 0, 0) 5px;
    margin-top: 15px;
}
/*-------------------------------------------------- Media query to increase sizing, else everything would be too small for use on larger than mobile screens*/

@media(min-width: 1000px){
    .lightsaber-handles{
        height: 60px;
        width: 40px;
}
    .lightsabers{
        width:40px;
        border-radius: 20px 20px 0 0;
    }
}
@media(max-width: 1000px){
     #background-image{
        visibility: hidden;
    }
}
.footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.wookiee{
    border: solid 3px yellow;
    color:yellow;
    display: none;
}
#wookieepedia{
color: yellow;
display: none;}
p{
    color: yellow;
    display: none;
}